<div class="container">

  <form (ngSubmit)="searchImages()" class="text-center compact-form">
    <div class="dark-input-container">
      <label class="dark-label">Image Search</label>
      <input class="dark-input" type="text" [(ngModel)]="query" name="query">
      <button class="dark-button" type="submit">Search</button>
    </div>
  </form>  


  <div class="centered-container">
    <div class="images-result-container">
      <h3>Search Results:</h3>
      <div class="images-result-wrapper">
        <ul class="images-result-list">
          <li *ngFor="let item of images">
            <img [src]="item.links[0].href" alt="{{ item.data[0].title }}" />
            <h4>{{ item.data[0].title }}</h4>
            <p>{{ item.data[0].description }}</p>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="images && images.length === 0">
      <p>No images found.</p>
    </div>
  </div>

  <img class="planet planet1" src="../../../assets/planets/planet.png" alt="">
  <img class="planet planet2" src="../../../assets/planets/planet2.png" alt="">
  <img class="planet planet3" src="../../../assets/planets/planet3.png" alt="">
  <img class="planet planet4" src="../../../assets/planets/planet5.png" alt="">
  <img class="planet planet5" src="../../../assets/planets/planet4.png" alt="">
  <img class="planet planet6" src="../../../assets/planets/planet6.png" alt="">
  <img class="planet planet7" src="../../../assets/planets/planet7.png" alt="">
</div>
