<video autoplay class='hero' src="../../../assets/video/galaxygo.mp4"></video>
<div class="container contact-form">

  <div *ngIf="imageOfDay" class="image-container">
    <h2 class="image-title">Image of a day: {{ imageOfDay.title }}</h2>
    <img class="image" [src]="imageOfDay.url" alt="{{ imageOfDay.title }}">
    <p class="image-explanation">{{ imageOfDay.explanation }}</p>
    <p>Copyright: {{ imageOfDay.copyright }}</p>
  </div>
  
  <h2>Contact Us</h2>
  <p>Feel free to reach out to us using the contact details below:</p>
  <ul>
    <li>Name: Nataliia</li>
    <li>Email: nataliia1sorokina@gmail.com</li>
    <li>Address: Winchester, United Kingdom</li>
  </ul>
  <img #spaceship class="spaceship" src="../../../assets/spaceships/pngwing.com(3).png" alt="">
</div>
