.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/galaxy2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-toggle{
  display: none;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #000000;
  padding: 25px; /* Increase the padding to make the navbar taller */
  color: #cccccc;
  box-shadow: 0 2px 5px rgba(192, 183, 56, 0.3);
  opacity: 5;
  position: relative; /* Add position relative */
  z-index: 1; /* Add a higher z-index value */
}


.navbar-link {
  cursor: pointer;
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 23px; /* Increase the font size for better visibility */
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #6f00ff;
}

/* Title styles */
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

/* Event styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
}

p {
  margin-bottom: 10px;
  color: #cccccc;
}

a {
  color: #6f00ff;
  transition: color 0.3s ease;
  text-shadow: rgb(0, 0, 0), rgb(0, 0, 0) !important; 
}


/* Hover effect for event items */
li:hover {
  background-color: rgba(155, 215, 255, 0.8);
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-icon {
  margin-right:10px;
  width: 18px;
  height: 32px;
}

.nav-link:hover {
  color: #555;
}

@media (max-width: 768px) {
  /* Mobile styles */

  /* Navbar container */
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  /* Navbar menu */
  .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    transition: max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    height: 100%; /* Adjust the maximum height as needed */
  }

  .navbar-mobile-show {
    height: 100%; /* Adjust the maximum height as needed */
    display: contents;
  }


  /* Navbar links */
  .navbar-link {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .navbar-link:hover {
    color: #6f00ff;
  }

  /* Navbar toggle button */
  .navbar-toggle {
    display: contents;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .navbar-toggle-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin-top: 6px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-toggle:hover .navbar-toggle-icon {
    background-color: #6f00ff;
  }
  
}
