/* event-list.component.css

/* Container styles */
.container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/galaxy.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

/* Container styles */
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

.title-description {
  margin-bottom: 40px;
}

.categories-sources {
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 30px;
}

.categories {
  text-align: left;
  margin: 0 20px;
}

.sources {
  text-align: right;
  margin: 0 20px;
}

.geometrics {
  text-align: center;
  margin-top: 40px;
}

/* Rest of the CSS styles remain the same */
