@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
/* event-list.component.css

/* Container styles */
.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

/* Container styles */
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

.title-description {
  margin-bottom: 20px;
}

.categories-sources {
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.hero{
  /* transform: rotate(-100deg); */
  opacity: 0.3;
  min-height: 90vh;
  min-width: 100%;
  position: absolute;
}

.event-details {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  overflow: auto;
  width: 40%;
  max-height: 90vh; /* Adjust the maximum height as desired */
  padding: 10px;
  opacity: 5;
  z-index: 1; /* Add a higher z-index value */
  position: relative;
}

.event-details::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.event-details::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5); /* Set the background color of the scrollbar track */
}

.event-details::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* Set the color of the scrollbar thumb */
}

.event-details::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Set the color of the scrollbar thumb on hover */
}

.categories {
  text-align: left;
  margin: 0 10px;
}

.sources {
  text-align: right;
  margin: 0 10px;
}

.geometrics {
  text-align: center;
  margin-top: 20px;
}

a{
  color:#ca1aff;
  text-decoration: none;
  background: linear-gradient(#ebe6d5, #fce355, #e6c408);
  font-family: 'Candal', sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover{
  color: #555;
  background-color: #fff;
  box-shadow: 0px 2px 15px rgba(255, 244, 87, 0.3);
  color: #000;
}

li{
  list-style-type: none;
  font-size: 18px;
}

table{
  padding: 10px;
}

th{
  padding: 10px;
}

tr{
  font-size: 18px;
  padding: 5px;
}

@media (max-width: 768px) {
  .event-details {
    width: 60%;
  }
}

/* Rest of the CSS styles remain the same */
