/* event-list.component.css

/* Container styles */
.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

/* Container styles */
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

.title-description {
  margin-bottom: 40px;
}

.categories-sources {
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.event-details {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  overflow: auto;
  width: 40%;
  max-height: 90vh; /* Adjust the maximum height as desired */
  padding: 20px;
}

.event-details::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.event-details::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5); /* Set the background color of the scrollbar track */
}

.event-details::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* Set the color of the scrollbar thumb */
}

.event-details::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Set the color of the scrollbar thumb on hover */
}

.categories {
  text-align: left;
  margin: 0 20px;
}

.sources {
  text-align: right;
  margin: 0 20px;
}

.geometrics {
  text-align: center;
  margin-top: 40px;
}

a{
  text-decoration: none !important;
}

a:hover{
  color: #555;
}

li{
  list-style-type: none;
  font-size: 18px;
}

table{
  padding: 10px;
}

th{
  padding: 10px;
}

tr{
  font-size: 18px;
  padding: 20px;
}

/* Rest of the CSS styles remain the same */
