<div class="container">
  <!-- <nav class="navbar">
    <input type="checkbox" id="navbar-toggle" class="navbar-toggle">
    <label for="navbar-toggle" class="navbar-toggle-label"></label>
    <div class="navbar-menu">
      <a routerLink="/events" class="navbar-link">
        <img src="../assets/spaceships/pngwing.com.png" alt="" class="nav-icon">
        Events
      </a>
      <a routerLink="/contact" class="navbar-link">
        <img src="../assets/spaceships/mandolorian.png" alt="" class="nav-icon">
        Contact
      </a>
      <a routerLink="/image-search" class="navbar-link">
        <img src="../assets/spaceships/pngwing.com(2).png" alt="" class="nav-icon">
        Image Search
      </a>
    </div>
  </nav> -->
  <app-header></app-header>
  <router-outlet></router-outlet>
</div>
