<video autoplay class='hero' src="../../../assets/video/smaller.mp4"></video>
<div class="container">
    <div class="dart-vander-style">
        <p class="dart-speech">The Force cannot save you from this technological disturbance. Abandon your futile search and submit to the power of the Empire. Resistance is futile. May the Force of the 404 be with you... or not.</p>
        <h3>ERROR 404</h3>
        <img class='dart' src="../../../assets/dart.png" alt="">
    </div>
   
    <img class="planet planet1" src="../../../assets/planets/planet.png" alt="">
    <img class="planet planet2" src="../../../assets/planets/planet2.png" alt="">
    <img class="planet planet3" src="../../../assets/planets/planet3.png" alt="">
    <img class="planet planet4" src="../../../assets/planets/planet5.png" alt="">
    <img class="planet planet5" src="../../../assets/planets/planet4.png" alt="">
    <img class="planet planet6" src="../../../assets/planets/planet6.png" alt="">
    <img class="planet planet7" src="../../../assets/planets/planet7.png" alt="">
    <img class="satellite" src="../../../assets/spaceships/satelite.png" alt="">
</div>